
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5;
  font-family: Inter, sans-serif;
}

body {
  align-items: center;
  background: black;
  color: white;
  text-align: center;
}

.rows {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 30vh;
}

.socials {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.social {
  display: block;
  min-width: 2rem;
  max-width: 3rem;
  width: 3vw;
}

.social:hover {
  /* color: #b5c0f0 */
  filter: brightness(0)
    saturate(100%)
    invert(78%)
    sepia(13%)
    saturate(724%)
    hue-rotate(193deg)
    brightness(96%)
    contrast(96%);
}

.social img {
  width: 100%;
}

.title img {
  display: block;
  margin: 0 auto;
  max-width: 1024px;
  width: 90%;
}

.logo img {
  bottom: 0;
  display: block;
  left: 50%;
  margin: 2rem;
  max-width: 256px;
  position: fixed;
  transform: translateX(-50%);
  width: 40%;
}

@media screen and (min-width: 1440px) {

  .socials {
    gap: 2rem;
  }

  .logo img {
    left: auto;
    right: 5%;
    transform: initial;
  }

}
