
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5;
  font-family: Inter, sans-serif;
}

body {
  align-items: center;
  background: black;
  color: white;
  text-align: center;
}

.rows {
  display: flex;
  flex-direction: column;
  margin-top: 30vh;
}

.title img {
  display: block;
  margin: 0 auto;
  width: 90%;
}

.logo img {
  bottom: 0;
  display: block;
  left: 50%;
  margin: 2rem 0;
  position: fixed;
  transform: translateX(-50%);
  width: 40%;
}
